{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{#unless calculationCompleted}}
                        <p class="text-muted">
                        <b>Achtung: </b>Die Berechnungsdaten sind nicht vollständig!
                        </p>
                    {{/unless}}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}