{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{#unless calculationCompleted}}
                        <p class="text-muted">
                        <b>Achtung: </b>Die Berechnungsdaten sind nicht vollständig!
                        </p>
                    {{/unless}}
                </div>
                <div class="row">
                    <h4>Alter Zustand (physische PCs)</h4>
                    <a data-toggle="collapse" href="#collapseOld" aria-expanded="false" aria-controls="collapseOld">
                        <h5>Berechnung</h5>
                    </a>
                    <div class="collapse" id="collapseOld">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                    <h5>Auswertung</h5>
                </div>

                <div class="row">
                    <h4>Virtualisierter Zustand</h4>
                    <a data-toggle="collapse" href="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
                        <h5>Berechnung</h5>
                    </a>
                    <div class="collapse" id="collapseNew">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                    <h5>Auswertung</h5>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}