{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                   {{#embed "measurements/demo"}}{{/embed}}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}