{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
                 <div class="row">
                    <p class="text-muted">
                        Hier kommen später die fertigen Berechnungen ...
                    </p>
                </div>
                <div class="row">
                    <h3>Ziele des Projekts</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Ermittlung/ Abschätzung des Ausgangszustandes (wie hoch war Energieverbrauch im Ausgangszustand in den Laboren des FB AI (oder Gesamthochschule))</li>
                        <li class="list-group-item">Berechnungen der theoretischen Einsparpotentiale (untere Berücksichtigung zusätzlicher Aufwendungen im Rechenzentrum); Auswertung der Aufzeichnung des derzeitigen Verbrauch</li>    
                        <li class="list-group-item">Abschätzung zukünftiger Potentiale</li>              
                        <li class="list-group-item">Konzept  (und Umsetzung) zur zukünftigen Datenerfassung und Auswertung der Energieeinsparpotentiale</li>
                    </ul>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}