.card {
    padding: 10px;
    padding-left: 3rem;
}


.section-measurements .card:hover {
    cursor: pointer;
}

.row {
    padding-left: 2rem;
}

input[type="file"] {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.delete-measurement {
    color: black;
    font-size: 2rem;
    float: right;
    padding-right: 2rem;
}

.delete-measurement:hover {
    color: #1D62F0;
}

.card-dashboard:hover {
    cursor: default;
}

p {
    text-align: justify;
    padding-right: 1rem;
}

.logohsh {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-text p {
    text-align: center;
}

.calculation-data label {
    text-transform: none;
}

.calculation-formular .title, .calculation-data .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.badge-result {
    display: block;
    margin-left: 40%;
    font-size: 2rem;
    margin-right: 40%;
    background-color: #4466BA;
}

.big-number {
    font-size: 5rem;
    color: #4466BA;
    font-weight: lighter;
}

.evaluation {
    padding-top: 3rem;
}

.pie-chart {
    margin: auto !important;
    top: -4rem !important;
    height: 35rem !important;
}

.pie-chart .ct-label {
    font-size: 2rem;
    fill: whitesmoke;
    color: whitesmoke;
}

.pie-chart svg {
    position: relative;
    margin: auto;
    padding-top: 5px;
}

.pie-chart .ct-series-a .ct-slice-pie {
    fill: #4466BA;
}

.pie-chart .ct-series-b .ct-slice-pie {
    fill: #161c6d;
}

.bar-chart {
    margin: auto !important;
    height: 80rem !important;
    top: 1rem !important;
}

.bar-chart svg {
    position: relative;
    margin: auto;
    padding-top: 5px;
}

.bar-chart .ct-label {
    font-size: 1.5rem;
}

.bar-chart .ct-axis-title {
    font-size: 2rem;
}

.bar-chart .ct-series-a .ct-bar {
    background-color: #4466BA;
    stroke: #4466BA;
}

.statistics {
    font-size: 2rem;
}

.float-right {
    float: right;
    line-height: 0.2;
}