.card {
    padding: 10px;
    padding-left: 3rem;
}

.card:hover {
    cursor: pointer;
}

.row {
    padding-left: 2rem;
}

input[type="file"] {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.delete-measurement {
    color: black;
    font-size: 2rem;
    float: right;
    padding-right: 2rem;
}

.delete-measurement:hover {
    color: #1D62F0;
}
.card-dashboard:hover {
    cursor: default;
}

p {
    text-align: justify;
    padding-right: 1rem;
}