<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://www.hs-harz.de/" target="_blank">
                        HS-Harz
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pinussilvestrus/fpv-logfile-analyzer" target="_blank">
                        GitHub
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://niklaskiefer.de" target="_blank">Niklas Kiefer</a>, made with love for a better web
        </p>
    </div>
</footer>