{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <img class="logohsh" src="/images/hsharz.jpg"/>
              </div>
              <div class="row">
                    <h3>Ziele des Projekts</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Ermittlung/ Abschätzung des Ausgangszustandes (wie hoch war Energieverbrauch im Ausgangszustand in den Laboren des FB AI (oder Gesamthochschule))</li>
                        <li class="list-group-item">Berechnungen der theoretischen Einsparpotentiale (untere Berücksichtigung zusätzlicher Aufwendungen im Rechenzentrum); Auswertung der Aufzeichnung des derzeitigen Verbrauch</li>    
                        <li class="list-group-item">Abschätzung zukünftiger Potentiale</li>              
                        <li class="list-group-item">Konzept  (und Umsetzung) zur zukünftigen Datenerfassung und Auswertung der Energieeinsparpotentiale</li>
                    </ul>
                </div>
                <div class="row">
                    <h3>Aufgabenstellung</h3>
                    <div class="card card-dashboard">
                        <div class="card-body">
                             <div><h4>Verbesserung der Energieeffizienz als Beitrag zur Verbesserung der Nachhaltigkeit an der Hochschule Harz</h4><br>

                                <p>Die Verbesserung der Energieeffizienz ist ein Nachhaltigkeitsziel im Rahmen der SDG (9.4.1). DieZielerreichung basiert sowohl auf technischen Maßnahmen als auch auf Verhaltensänderungen.Hochschulen können das Thema „Energieeffizienz“ in allen Handlungsfeldern: Lehre und Forschung,beim Betrieb der Hochschule sowie bei Transferaktivitäten (Third Mission) adressieren, wobei dieeinzelnen Handlungsfelder einander bedingen.  
                                <br>Am Beispiel der Steigerung des Übergangs von individuellen Arbeitsplatzrechnern zu virtuellenMaschinen wird die Methodik zur Ermittlung der Energieeffizienz erläutert sowie die Ergebnissevorgestellt. Im Ergebnis werden Berechnungen zu erreichbaren Einsparpotentialen vorgenommen. Dasgewählte Fallbeispiel aus dem Handlungsfeld „Hochschulbetrieb“ soll auch Eingang finden in Praktikabei Studierenden der Automatisierungstechnik und Informatik, beim Orientierungsstudium sowie fürweitere Team- und Projektarbeiten (Handlungsfeld: Lehre). 
                                <br>Im Speziellen wird ein Vergleich zwischen Ausgangszustand (physische Arbeitsplatzrechner) undneuem Zustand (Virtualisierung des Arbeitsrechners und Übertragung der Rechenleistung in dieServerräume) angestrebt. Hierfür werden verschiedene Messungen vorgenommen und die Ergebnissein einem eigens implementierten Analysetool ausgewertet. Dieses kann als Grundlage für eineautomatisierte Berechnung von Energieeinsparpotentialen, beispielsweise für den Einsatz im Lehrbetrieb, dienen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}