{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <img class="logohsh" src="/images/hsharz.jpg"/>
              </div>
              <div class="row">
                    <h3>Ziele des Projekts</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Ermittlung/ Abschätzung des Ausgangszustandes (wie hoch war Energieverbrauch im Ausgangszustand in den Laboren des FB AI (oder Gesamthochschule))</li>
                        <li class="list-group-item">Berechnungen der theoretischen Einsparpotentiale (untere Berücksichtigung zusätzlicher Aufwendungen im Rechenzentrum); Auswertung der Aufzeichnung des derzeitigen Verbrauch</li>    
                        <li class="list-group-item">Abschätzung zukünftiger Potentiale</li>              
                        <li class="list-group-item">Konzept  (und Umsetzung) zur zukünftigen Datenerfassung und Auswertung der Energieeinsparpotentiale</li>
                    </ul>
                </div>
                <div class="row">
                    <h3>Aufgabenstellung</h3>
                    <div class="card card-dashboard">
                        <div class="card-body">
                             <div><h4>Verbesserung der Energieeffizienz als Beitrag zur Verbesserung der Nachhaltigkeit an der Hochschule Harz</h4><br>

                                <p>Die Verbesserung der Energieeffizienz ist ein Nachhaltigkeitsziel  im Rahmen der SDG (9.4.1). Die Zielerreichung basiert sowohl auf technischen Maßnahmen als auch auf der Verhaltensänderungen. Die Hochschulen können das Thema „Energieeffizienz in allen Handlungsfeldern: Lehre und Forschung“, beim Betrieb der Hochschule sowie bei Transferaktivitäten (Third Mission) unterstützen, wobei die einzelnen Handlungsfelder bedingen.  
                                <br>Am Beispiel der Steigerung des Übergangs von individuellen Arbeitsplatzrechnern zu virtuellen Maschinen wird die Methodik zur Ermittlung der Energieeffizienz erläutert sowie die Ergebnisse vorgestellt. Im Ergebnis werden Berechnungen zu erreichbaren Einsparpotentialen vorgenommen. Das gewählte Fallbeispiel aus dem Handlungsfeld „Hochschulbetrieb“ soll auch Eingang finden in Praktika bei Studierenden der Automatisierungstechnik und Informatik, beim Orientierungsstudium sowie für weitere Team- und Projektarbeiten. 
                                <br>Im Speziellen wird ein Vergleich zwischen Ausgangszustand (physische Arbeitsplatzrechner) und neuem Zustand (Virtualisierung des Arbeitsrechners und Übertragung der Rechenleistung in die Serverräume) angestrebt. Hierfür werden verschiedene Messungen vorgenommen und die Ergebnisse in einem eigens implementierten Analysetool ausgewertet. Dieses kann als Grundlage für eine automatisierte Berechnung von Energieeinsparpotentialen, beispielsweise für den Einsatz im Lehrbetrieb, dienen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}